APP_DEBUG = false[APP]DEFAULT_TIMEZONE = Asia/Shanghai[DATABASE]TYPE = mysqlHOSTNAME = 127.0.0.1DATABASE = testUSERNAME = usernamePASSWORD = passwordHOSTPORT = 3306CHARSET = utf8mb4DEBUG = truePREFIX = cw_[PGSQL]HOSTNAME = mddai-postgresDATABASE = postgresUSERNAME = postgresPASSWORD = 123456HOSTPORT = 5432CHARSET = utf8mb4PREFIX = cw_[CACHE]DRIVER = redisHOST = mddai-redisPORT = 6379PASSWORD = ""[QUEUE]NAME = kbHOST = mddai-redisPORT = 6379PASSWORD = ""[LANG]default_lang = zh-cn[PROJECT]UNIQUE_IDENTIFICATION = mddai# 演示环境DEMO_ENV = false